.env
log.txt
node_modules/
coverage/
cache/
artifacts/
.openzeppelin/
.husky/
contracts/mocks/
contracts/upgrades/

scripts/log.txt
scripts/log.log
scripts/test.js

scripts/helpers/local-setup.devnet.sh
.DS_Store
