# Deployer private key
KEY=
# Network to use e.g. localhost(for hardhat)/sepolia/mainnet/optimism/arbsepolia/arbitrum/base/bsc
HARDHAT_NETWORK=
# Coinmarketcap API KEY (optional, for gas calculations)
COINMARKETCAP_API_KEY=
# Report gas usage after test run (optional) boolean
REPORT_GAS=
# SAFE key signer (optional)
SCRIPT_KEY=

# Etherscan API KEYs (optional)
ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=
OPTISCAN_API_KEY=
BASESCAN_API_KEY=
BSCSCAN_API_KEY=
